@import 'bootstrap';
@import 'main_mixins';
@import 'swiper.min';

a {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: $color_gray_dark;

  &:hover {
    color: $color_gray_darker;
  }
}

.icons {
  svg {
    width: 40px;
    height: 40px;
    color: $color_gray_dark;

  }
  svg:hover {
    color: $color_gray_darker;
  }
}

.table {
  tr {
    font-size: 18px;
    color: $color_gray_dark;
    font-weight: 600;
  }

  .detal {
    font-size: 28px;
    color: $color_gray_dark;
    font-weight: 700;
    td {
      border: none;
    }
  }
  .light {
    color: $color_gray;
  }
  .thead-dark
  th {
    background-color: $color_gray_darker;
    border-color: $color_gray_darker;
    font-size: 20px;
    font-weight: 400;
  }

}

/*NAVBAR*/
.navbar {
  height: 90px;

  .navbar-nav {
    li {
      padding-right: $gutter;
      a {
        padding: 0;
        margin: 0;
      }
    }
  }

  .tel
  a {
    padding-right: $gutter;
    &:hover {
      text-decoration: none;

    }
  }
  .icons {
    float: right;
    padding-left: $gutter;
  }
}

/*HEADING*/
.heading {
  background-color: $color_gray_darker;
  height: 150px;
  margin-top: $gutter*3;
  margin-bottom: $gutter*3;

  h1 {
    color: $color_gray_light;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

/*MAP*/
.map
.container-fluid {
  background-imageg: url(img/bg-map.jpg);
  background-color: $color_gray_darker;
  .container {
    padding: $gutter*2 0;
    .row {
      background-color: $color_white;
      padding: $gutter*2;
      .col{
        height: 400px;
      }
      .map-item {
        position: relative;
        padding: $gutter 0;

        .icons {
          position: absolute;

          svg {
            //height: 40px;
            color: $color_gray_darker;
          }
        }
        p {
          line-height: 8px;
          left: 70px;
          font-size: 24px;
          position: relative;
          color: $color_gray_dark;
          font-weight: 400;
        }
        button{
          color: $color_white;
          background-color: $color_red;
        }
      }
    }
  }
}

/*FOOTER*/
.footer {
  background-color: $color_gray_darker;
  li
  a {
    color: $color_gray;
    &:hover {
      color: $color_gray_light;
    }
  }
  .icons {
    &:hover
    svg {
      color: $color_gray_light;
    }
    svg {
      color: $color_gray;
    }
    float: right;
    padding-left: $gutter;
  }
  .btn-sm {
    padding: 0 55px;
    background-color: $color_gray;
    color: $color_gray_darker;
    border-color: $color_gray;
    &:hover {
      background-color: $color_gray_light;
      border-color: $color_gray_light;
    }
  }
}





