@import 'bootstrap';
@import 'main_mixins';
@import 'swiper.min';

.darker_bg {
  background-color: $color_gray_darker;
  .row {
    //padding: $gutter*5 0;
  }
}

section {
  margin-bottom: $gutter*5 0;
}

a {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: $color_gray_dark;

  &:hover {
    color: $color_gray_darker;
  }
}

h3{
  font-size: 22px;
color: $color_gray_darker;
  font-weight: 700;
}

h4{
  font-size: 30px;
  color: $color_gray_darker;
  font-weight: 700;
}

.icons {
  svg {
    width: 40px;
    height: 40px;
    color: $color_gray_dark;

  }
  svg:hover {
    color: $color_gray_darker;
  }
}

.table {
  tr {
    font-size: 18px;
    color: $color_gray_dark;
    font-weight: 600;
  }

  .detal {
    font-size: 28px;
    color: $color_gray_dark;
    font-weight: 700;
    td {
      border: none;
    }
  }
  .light {
    color: $color_gray;
  }
  .thead-dark
  th {
    background-color: $color_gray_darker;
    border-color: $color_gray_darker;
    font-size: 20px;
    font-weight: 400;
  }

}

.wr-content__block {
  padding-bottom: $gutter*3;
}

/*NAVBAR*/
.navbar {
  height: 90px;
  padding: $gutter*4 0;

  .navbar-nav {
    li {
      padding-right: $gutter;
      a {
        padding: 0;
        margin: 0;
      }
    }
  }

  .tel
  a {
    padding-right: $gutter;
    &:hover {
      text-decoration: none;

    }
  }
  .icons {
    float: right;
    padding-left: $gutter;
  }
}

/*HEADING*/
.heading {
  background-color: $color_gray_darker;
  height: 150px;

  h1 {
    color: $color_gray_light;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

/*MAP*/
.map
.container-fluid {
  background-imageg: url(img/bg-map.jpg);
  .container {
    padding: $gutter*2 0;
    .row {
      padding: $gutter*2;
      .map-item {
        padding: $gutter 0;
        height: 80px;
        .icons {

          svg {
            color: $color_gray_darker;
          }
        }
        p {
          line-height: 15px;

          font-size: 24px;

          color: $color_gray_dark;
        }
        button {
          color: $color_white;
          background-color: $color_red;
          font-size: 20px;
          font-weight: 400;
          margin: $gutter*2 0;
        }
      }
    }
  }
}

/*NEWS*/
.news {

  .row {
    padding: $gutter*5 0;

    .news__item {
      text-align: center;
      img {
        width: 30%;
      }
      p {
        color: $color_white;
      }
    }
  }

}

/*STICKER*/
.info-sticker {
  &__item {
    padding-bottom: $gutter*2;
    &_head {
      background-color: $color_gray_darker;
      border-color: $color_gray_darker;
      font-size: 20px;
      font-weight: 400;
      color: $color_white;
      padding: 0.75rem;
    }
    &_text {
      padding: 0.75rem;
    }
  }
}

/*advantages*/
.advantages{

  &__item{
    color: $color_white;
    padding: $gutter*2;
    margin: $gutter*2 0;
    position: relative;
    &_icon{

    }
    &_button{
      width: 100%;
    }
  }
}

/*FOOTER*/
.footer {
  background-color: $color_gray_darker;
  li
  a {
    color: $color_gray;
    &:hover {
      color: $color_gray_light;
    }
  }
  .icons {
    &:hover
    svg {
      color: $color_gray_light;
    }
    svg {
      color: $color_gray;
    }
    float: right;
    padding-left: $gutter;
  }
  .btn-sm {
    padding: 0 55px;
    background-color: $color_gray;
    color: $color_gray_darker;
    border-color: $color_gray;
    &:hover {
      background-color: $color_gray_light;
      border-color: $color_gray_light;
    }
  }
}





